$gray-background: #F5F5F5;
$dark-gray-background: #E9E9E9;
$light-gray-background: #fbfbfb;
$dark-gray-text: #3D3D3D;
$gray-text: #666666;
$gray-thin: #dadada;
$accent-color: #FFAA2F;
$green: #11D400;

$small-border-radius: .375rem;
$border-radius: .625rem;

$basic-element-height: 2.2rem;